{% extends 'base.html' %}
  
    {% block body %}
    <div class="container">
        
    <!-- <button id="validateBtn">Validate JSON</button> -->
        <h1>JSON Path Finder</h1>
        <form id="jsonForm" method="post" action="{{ url_for('views.index')}}">
            <label for="jsonData">Enter JSON Data:</label>
            <textarea id="jsonData" name="jsonData" rows="10" cols="50" ></textarea>
            <label for="key">Enter Key to Find:</label>
            <input type="text" id="key" name="key">
            <button type="submit">Search</button>
            {{msg}}
            <br>{{keymsg}}
        </form>
    </div>
    <div class="container">
        <p>
            {% autoescape false %}
            {{ paths }}</p>
            {% endautoescape %}
        <br>
        
    </div>

    <div class="rectangle">
        <P>This is JSON path finder, helps you to find out all possible paths for a given keyword present in the JSON.</P>
        <br> 1. Paste your json.</br>
        <br> 2. Paste you keyword.</br> 
        <br> 3. Click on search button, and</br>
        <p>
        Boom! It will give all path </p>

    </div>
    <br><p></p>
    <div class="rectangle">
        <h3>About me</h3>
        Hi!, I am Dev, I have hands on experience in DevOps to develop CI/CD pipeline and to maintain availablity of site and 
        <br> Currently I am working for SHL, India. It's been one and half year here</br>
        <br> I have implemeted and managed alerting system at SHL</br> 
        <br> Implemeted CI/CD pipeline</br>
        <p>  Have built docker images </p>

    </div>
    <div class="container columns">
        <div class="column">
            <h3>Contacts</h3>
            <p>Email: devg04@gmail.com</p>
            <p>Phone: 72******80</p>
        </div>
        <div class="column">
            <h3>My Work</h3>
            <div class="social-icons" onclick="window.open('https://github.com/dev4divine/pathfinder/tree/jsonpath', '_blank')">
                <i class="fab fa-github"></i><p>Twitter: @jsonpathfinder</p>
            </div>
            <div class="social-icons" onclick="window.open('https://www.linkedin.com/in/devkumar247', '_blank')">
                <i class="fab fa-linkedin"></i><p>LinkedIn: linkedin.com/in/devkumar247</p>
            </div>
            
        </div>
     </div> 
{% endblock %}
